*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: 150px 1fr 60px;
    margin: 20px;
    row-gap: 20px;

}

.header {
    background-color: brown;
    display: grid;
    padding: 20px;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    /* justify-content: space-between; */
    align-items: center;
    border-radius: 20px;
}

.navbar ul {
    background-color: pink;
    display: flex;
    justify-content:space-around;
}
.logo {
    height: 100%;
}