:root{
    --color-texto-primario: #0C172F;
    --color-fondo-primario: #FCFCA4;

    --color-texto-resalte: #FCFCA4 ;
    --color-fondo-resalte: #6D3263;

    --color-texto-secundario:#FFA793;
    --color-fondo-secundario: #0C172F;
    

}

/* Color Theme Swatches in Hex */
.Copy-of-Happy-New-Day-1-hex { color: #0C172F; }
.Copy-of-Happy-New-Day-2-hex { color: #6D3263; }
.Copy-of-Happy-New-Day-3-hex { color: #DF6283; }
.Copy-of-Happy-New-Day-4-hex { color: #FFA793; }
.Copy-of-Happy-New-Day-5-hex { color: #FCFCA4; }



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: 150px 1fr 60px;
    margin: 20px;
    row-gap: 20px;

}

/*
*/
.header {
    background-color: var(--color-fondo-resalte);
    color: var(--color-texto-resalte);
    display: grid;
    padding: 20px;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    /* justify-content: space-between; */
    align-items: center;
    border-radius: 20px;
}

.navbar ul {
    background-color: pink;
    display: flex;
    justify-content:space-around;
    border-radius: 10px;
    list-style: none;
}
.logo {
    height: 100%;
}
